@fontColor: #333333;
@fontColorNight: #666666;
@secondFontColor: #cccccc;
@secondFontColorNight: #666666;
@backgroundNight: #1a1a18;
@secondBackground: white;
@secondBackgroundNight: black;
@coverBackgroundLight: rgba(255, 255, 255, 0.25);
@coverBackgroundLightNight: rgba(255, 255, 255, 0.1);
@coverBackground: rgba(0, 0, 0, 0.6);
@coverBackgroundNight: rgba(0, 0, 0, 0.6);
@borderColor: rgba(0, 0, 0, 0.6);
@borderColorNight: rgba(102, 102, 102, 0.6);
@primaryColor: #1296db;
@primaryColorNight: #0e3b52;
@secondColor: #999999;
@secondColorNight: #333333;
